  .button {
    background: rgb(44, 3, 44);
    
      border: 1px solid rgb(44, 3, 44);
    color: white; 
    padding: 5px;
}

.button--small-width{
      width: clamp(6rem, 93%, 200px);
      margin: 0.5rem 5px;
  
}

.button--wide-width {
    margin: 0.5rem 5px;
    width: 100%;
    max-width: 350px;
}
 .button:hover, .button:visited{
 color: black;
    background:white;
    border: 1px solid black;
 }

 