
.form-details{
  width: 100%;  
    margin: 0 auto;
  }

 .bottom-line {
 margin-top: 5px;
  width: 100%;
  max-width: 450px;
   display: flex;
  flex-direction: row;
  justify-content: space-between;
}

select{
   padding: 2px;
         margin-top: 0.5rem;
         width: 15rem;

}
.buttons-names-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-content: space-between;
    max-width: 900px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid black;
    padding: 0.5rem;
}
.buttons-container__sub-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column ;
  }
 form > button {
  margin: 1rem auto;
 }

.form-details {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
input, textarea, select {
   width: 100%;
}

 label:has(+ input), label:has(+ textarea), label:has(+ select) {
    display: inline-block;

  width: 15rem;
 }

 textarea{
    min-width: 300px;
  max-height: 400px;
  margin: 0.5rem auto;
  resize:vertical;
  overflow-y: auto;
 }

  
.form-details__fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
 }
  input{
   margin: 0.5rem auto;
 } 
 
.buttons-main-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 900px;
    width: 100%;
    align-items: center;
}
 .form-details__fields--searching{
   max-width: 350px;
 }
 .form-details__fields:has( #inputID ){
    border: 1px solid black;
    padding: 5px;
 }
 @media screen and (min-width: 1000px){
  
 .form-container{
    display: flex;
    width: 100%;  
    margin: 0 auto;
 }
.form-details {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
}


.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }  


 
 }

 @media screen and (max-width: 649px){
.buttons-container__sub-container {
   position: relative;
   flex-direction: column ;
   width: 100%;
   max-width: 550px;
   margin: 0 auto;
}
.buttons-container  {
   flex-direction: column ;

 }
 }