@import  url('/src/components/reset.css' );



#root{
  width: 100%;
}
body{
  width: 100%;
  		    font-family: "Arial", sans-serif ;

}
 
.app {
  text-align: left;
    width: 100%;
         max-width: 1200px;
         min-width: 320px;
         margin:0 auto;

 
}

*{
  box-sizing: border-box ;
  

 
}


.displayNone{
  display: none;
}
ul{
   display:flex;
  flex-direction: column;
  margin-block-start: 0;
    padding-inline-start: 0;
}
li{
  list-style: none;
}
.green{
  color: black;
  background-color: white;
   border: 3px solid green;
}

.dynamic-Jobs-manager{
  display: flex;
  flex-direction: column;
   justify-content: center;
    width: 100%;

}

button:has(+ input){
  display: inline-block;
  width: 100%;
 }

 label + button{
   margin-left: 1rem;
 }

 

.orange{
   background-color: white;
 color: black;
 
   border: 3px solid orange;
 
}

.jobColumns {
  display: flex;
  flex-direction: row;
  width:   100%  ;
 
  
  display: flex;
}



.red {
  background-color: white;
   color: black;
    border: 3px solid red;
 }
.job-list{
  width: 100%;
  } 
